body {
	color: #4baea0; 
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	background-image: url(image/flo.jpeg);
}

h1 {
  font-size: 42px;
  font-family: 'Montserrat Subrayada', sans-serif;
  color: #f2a6a6;
  padding:16px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow:2px 2px 6px #888;  
  text-align:center;
  display:block;
  margin:16px;
	}

h2 {
		color: #f2a6a6;
		font-size: 24px;
	}

h1 {
		text-align: center;
}

p {
	font-size: 16px;
}

i {
	font-size: 40px;
}

img {
  border-radius: 10%;
  padding: 10px;
  width: 300px; 
  border-color:#ce2e6c;
}
 ul{
 list-style-type: none;
 padding-left:0;
 }
 .container {
 	width: 570px;
 	margin: 20px auto;
 }

 .card {
 	background: linear-gradient(217deg, #ce2e6c2e, #ce2e6c2e);
 	padding: 40px 20px;
 	margin: 20px 0px;
 	border-radius: 20px;
 	box-shadow: Opx 10px 30px rgba(O,O,O,0.9)
 	background-position: bottom;
    align-items: center;
    justify-content: center
 }

 #button { 
   position: relative;	
	padding: 1.4rem 4.2rem;
	padding-right: 3.1rem;
	font-size: 1.4rem;
	color: #ce2e6c;
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
 }

#button:before, #button:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

#button:hover {
	color: #ce2e6c;
	transition-delay: .6s;
}

#button:hover:after {
	background: var(--inv);
	transition-delay: .4s;
}

#button:before, 
#button:after {
	left: 0;
	height: 0;
	width: 100%;
}

#button:before {
	bottom: 0;	
	border: 1px solid var(--inv);
	border-top: 0;
	border-bottom: 0;
}

#button:after {
	top: 0;
	height: 0;
}

#button:hover:before,
#button:hover:after {
	height: 100%;
}

 a:hover {
  color:#ce2e6c;
text-decoration:none;
 }

.inline {
    display: inline;
}


 @media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
 	}
 }

$color: #111
$primary: #FFAB9D

html, body
  height: 100%
  
body
  display: grid
  font-family: Avenir, sans-serif
  color: $color
  
a
  text-decoration: none
  color: inherit

#button
  position: relative
  margin: auto
  padding: 19px 22px
  transition: all .2s ease
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    display: block
    border-radius: 28px
    background: rgba($primary,.5)
    width: 56px
    height: 56px
    transition: all .3s ease
  span
    position: relative
    font-size: 16px
    line-height: 18px
    font-weight: 900
    letter-spacing: .25em
    text-transform: uppercase
    vertical-align: middle
  svg
    position: relative
    top: 0
    margin-left: 10px
    fill: none
    stroke-linecap: round
    stroke-linejoin: round
    stroke: $color
    stroke-width: 2
    transform: translateX(-5px)
    transition: all .3s ease
  &:hover
    &:before
      width: 100%
      background: rgba($primary,1)
    svg
      transform: translateX(0)
  &:active
    transform: scale(.96)